.post-form {
  display: flex;
  flex-direction: column;
  flex: 1 auto;

  label {
    margin-bottom: 5px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="file"] {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  textarea {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 50px;
    resize: vertical; /* Позволяет изменять высоту textarea по вертикали */
  }

  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

.image-preview {
  display: flex;
  flex-wrap: wrap;
  // margin-top: 10px;
  padding: 0px 15px 0px 15px;
}

.image-preview img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: 10px;
}

.postformzero {
  height: 100%;
  width: 100%;
  // position: relative;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: space-between;

  &-content {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    &[data-type="title"] {
      justify-content: center;
      gap: 50px;
    }

    &[data-type="description"] {
      // justify-content: space-around;
      gap: 50px;

      flex: 1;
    }
  }

  &-title {
    text-align: center;
    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  &-input {
    min-width: 150px;
    max-width: 600px;
    // padding: 0px 0px 0px 0px;
    // height: 70%;
    width: 100%;
    &[data-input="description"] {
      height: 65%;

      // border: 1px solid red;
    }

    input[type="text"] {
      width: 100%;
      // height: 100%;
      // height: 20%;
      height: 45px;
      border: none;
      border-bottom: 1px solid #ccc;
      // padding: 8px;
      padding: 4px 8px;
      font-size: 16px;
    }

    textarea {
      width: 100%;
      height: 100%;
      border: none;
      border-bottom: 1px solid #ccc;
      font-size: 16px;
      padding-bottom: 8px;
    }

    input[type="text"]:focus {
      outline: none;
      border-bottom-color: #007bff; /* For example, use blue for focus */
    }

    textarea:focus {
      outline: none;
      // border-color: #007bff; /* For example, use blue for focus */
      border-bottom: 2px solid #007bff;
    }

    input[type="text"]:hover {
      border-bottom-color: #999; /* For example, use a darker color on hover */
    }

    textarea:hover {
      border-color: #999; /* For example, use a darker color on hover */
    }
  }

  &-inputImg {
    display: none;
  }

  &-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    &-back {
      transition: font-size 0.1s ease 0s;

      &:hover {
        font-size: 17px;
        font-weight: 700;
        color: #aa0000;
      }
    }
    &-next {
      &:hover {
        font-size: 17px;
        font-weight: 700;
        color: #006400;
      }
    }
  }
}

.zeropost {
  justify-content: center;
  align-items: center;
  position: relative;

  &-title {
  }
  &-btn {
    position: absolute;
    right: 0;
    top: 85%;
  }
}

.preview {
  width: 100%;
  height: 100%;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  // gap: 10px;
  // justify-content: flex-start;
  &-title {
    margin: 0px 0px 0px 0px;
    @media (max-width: 402px) {
      font-size: 16px;
    }
  }

  &-article {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
  }

  &-posttitle {
    // margin-top: 0;
    // margin-bottom: 0;
    @media (max-width: 402px) {
      font-size: 15px;
    }
  }

  &-description {
    margin-top: 0;
    margin-bottom: 10px;
    flex: 1 auto;
    overflow-y: auto;
    text-align: justify;
  }

  &-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin-right: 10px;
      margin-bottom: 10px;
      cursor: grab;
    }
    .image-container {
      border: 2px solid #ccc;
      width: 150px;
      height: 150px;
      // padding: 5px;
    }

    .main-image {
      border-color: red;
    }

    .main-image-label {
      text-align: center;
      margin: 5px 0;
      color: red;
    }
  }

  &-btn {
    display: flex;
    justify-content: space-between;
  }
  button {
    // position: absolute;
    // right: 5%;
    // top: 90%;
  }
}

.image-drop-zone {
  border: 1px solid #999;
  // flex: 1 1 90%;
  // max-width: 90%;
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.2s 0s;
  border-radius: 5px;
  font-size: 25px;
  overflow-y: auto;

  &:hover {
    border: 2px solid #007bff;
  }

  &-icon {
    width: "100px";
    height: "100px";
  }
}
