.recognition {
  flex: 1 auto;
  display: flex;
  .recognition-container {
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex: 1 auto;
    // height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    .recognition-title {
    }

    .recognition-subtitle {
    }

    p {
    }

    .uploader {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .uploader-box {
        border: 2px dashed #000;
        max-width: 80%;
        width: 100%;
        height: 400px;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .uploader-inputImg {
        display: none;
      }

      .uploader-drop-zone {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        gap: 15px;
        &:hover {
        }

        p {
        }

        .uploader-drop-zone-icon {
        }

        .uploader-image-preview {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          padding: 0px 15px 0px 15px;
          position: relative;

          img {
            min-width: 100px;
            max-width: 300px;
            height: 200px;
            object-fit: cover;
            margin-right: 10px;
            margin-bottom: 10px;
          }
        }
      }
      &-btn {
        position: absolute;
		  top: 70%;
//   transform: translateY(-50%);
		  right: 5px;
		  height: 30px;
		  font-size: 15px;
		  width: 130px;
		  overflow: hidden;
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  transition: all 0.3s ease 0s;
		  &:hover {
			// background-color: #144f8f;
			border: 1px solid #fff;
			transform: translateY(-1px) translateX(1px);
		  }
      }
    }
  }
}
